@page "/"

<MudGrid Class="ma-4">
    <MudItem lg="4">
        <MudCard Class="mud-theme-primary ma-2" Elevation="12">
            <MudCardHeader>
                <h1>LATEST UPDATES</h1>
            </MudCardHeader>
            <MudCardContent>
                <h2>Stiles, Ryan (Due Date by JSmith)</h2><br />
                <h2>Proops, Greg (MU Calculation)</h2><br/>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem lg="6">
        <MudCard Class="mud-theme-secondary ma-2" Elevation="12">
            <MudCardHeader>
                <h1>PENDING PATIENTS</h1>
            </MudCardHeader>
            <MudCardContent>
                <h3>3 Priority, 5 Total</h3><br />
                <h2>1 Due by Friday (4 tasks pending)</h2><br />
                <ul>
                    <li><h3>Carey, Drew</h3></li>
                </ul>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem lg="4">
        <MudCard Class="mud-theme-success ma-2" Elevation="12">
            <MudCardHeader>
                <h1>PATIENT COUNT</h1>
            </MudCardHeader>
            <MudCardContent>
                <h2>3 in Priority</h2><br />
                <h2>5 in Active</h2><br />
                <h2>207 archived</h2><br />
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

}