@page "/patients"
@attribute [Authorize]

<!-- Add Patient and Search Bar -->
<div>
    <MudPaper Class="mud-theme-primary d-flex pa-1 ma-2" MaxWidth="480">
        <MudButton Class="d-inline-flex" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" Variant="Variant.Outlined" OnClick="AddPatient">Add Patient</MudButton>
        <MudTextField Class="d-inline-flex px-1" T="string" Label="Search" Variant="Variant.Outlined"
            Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
    </MudPaper>
</div>

<!-- List of Patients -->
@if(patientIds is null){
    <MudStack Row="true" Class="pa-2 overflow-x-scroll">
        @for(int i = 0; i < 10; i++){
            <PatientOverview />
        }
    </MudStack>
}else{
    <MudStack Row="true" Class="pa-2 overflow-x-scroll">
        @foreach (var patientId in patientIds)
        {
            <PatientOverview PatientId="@patientId" />
        }
    </MudStack>
}

@code {
    [Inject] private IPatientService PatientService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private List<int> patientIds { get; set; }

    protected override async Task OnInitializedAsync() {
        var response = await PatientService.GetPatientsId();

        if (!response.Success || response.Data is null || response.Data.Count < 1) return;
        patientIds = response.Data;
    }

    private void AddPatient() => NavigationManager.NavigateTo($"newpatient");
    private void PatientDataEntry(int id) => NavigationManager.NavigateTo($"patients/{id}");
}
