@page "/patients"

<!-- Add Patient and Search Bar -->
<div>
    <MudPaper Class="mud-theme-primary d-flex pa-1 ma-2" MaxWidth="480">
        <MudButton Class="d-inline-flex" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" Variant="Variant.Outlined" OnClick="AddPatient">Add Patient</MudButton>
        <MudTextField Class="d-inline-flex px-1" T="string" Label="Search" Variant="Variant.Outlined"
            Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
    </MudPaper>
</div>

@if(PatientService.Patients == null){
    <MudProgressCircular />
}else {
    <!-- List of Patients -->
    <MudStack Row="true" Class="pa-2 overflow-x-scroll">
        @foreach(var patient in patients) {
            <Radigate.Client.Shared.Patient.PatientOverview PatientId="@patient.Id" />
        }
    </MudStack>
}

@code {
        [Inject] private IPatientService PatientService { get; set; }
        [Inject] private NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync() {
        await PatientService.GetPatients();
    }

    private List<Patient> patients => PatientService.Patients;
    private string Name(Patient patient) => (patient.LastName + "," + patient.FirstName).ToUpper();

    private void AddPatient() => NavigationManager.NavigateTo($"newpatient");
    private void PatientDataEntry(int id) => NavigationManager.NavigateTo($"patients/{id}");
}
