<h3>List of Patients</h3>

@if(PatientService.Patients is null || PatientService.Patients.Count == 0){
    <span>Loading Patients</span>
}

<div>
    @foreach(var patient in PatientService.Patients){
        <MudPaper Elevation="20">
            <MudText Typo="Typo.h3"><b>Name:</b> @((patient.LastName + "," + patient.FirstName).ToUpper())</MudText>
            <MudText Typo="Typo.h4"><b>ID</b>: @patient.Id</MudText>
        </MudPaper>
    }
</div>

<style>

</style>

@code {
    [Inject] private IPatientService PatientService { get; set; }

    protected override async Task OnInitializedAsync() {
        await PatientService.GetPatients();
    }
}
